<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="conv-base" xml:lang="ko">

    <info>
        <link type="guide" xref="index#conversion"/>
    
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>류창우</mal:name>
      <mal:email>cwryu@debian.org</mal:email>
      <mal:years>2007, 2008, 2015.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>조성호</mal:name>
      <mal:email>shcho@gnome.org</mal:email>
      <mal:years>2016, 2017.</mal:years>
    </mal:credit>
  </info>

	<title>기수</title>
    
    <p>숫자를 다른 진법 표현으로 바꾸려면 <em>in</em> 연산자를 사용하십시오.</p>
    <example>
    <p>12 in hex</p>
    <p>5 in binary</p>
    <p>1A₁₆ in dec</p>
    <p>1010₂ in octal</p>
    </example>
    <note>
      <p>진법 변환은 키보드로 처리해야합니다.</p>
    </note>
</page>
