<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="modulus" xml:lang="ko">

    <info>
        <link type="guide" xref="index#equation"/>
    
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>류창우</mal:name>
      <mal:email>cwryu@debian.org</mal:email>
      <mal:years>2007, 2008, 2015.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>조성호</mal:name>
      <mal:email>shcho@gnome.org</mal:email>
      <mal:years>2016, 2017.</mal:years>
    </mal:credit>
  </info>

	<title>나머지 나누기</title>
    
    <p>mod 연산자를 사용해 나머지 나누기를 합니다.</p>
    <example>
    <p>9 mod 5</p>
    </example>
</page>
