<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="keyboard" xml:lang="pl">

    <info>
        <link type="guide" xref="index#ui"/>
    
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Piotr Drąg</mal:name>
      <mal:email>piotrdrag@gmail.com</mal:email>
      <mal:years>2017-2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Aviary.pl</mal:name>
      <mal:email>community-poland@mozilla.org</mal:email>
      <mal:years>2017-2018</mal:years>
    </mal:credit>
  </info>

	<title>Używanie klawiatury</title>

    <p>Wszystkie równania matematyczne mogą być wprowadzane za pomocą klawiatury.</p>
    <p>Poniższe kombinacje klawiszy mogą być używane do wprowadzania klawiszy, których nie ma na wszystkich klawiaturach.</p>
    <table>
    <tr>
    <td><p>×</p></td>
    <td><p><key>*</key></p></td>
    </tr>
    <tr>
    <td><p>÷</p></td>
    <td><p><key>/</key></p></td>
    </tr>
    <tr>
    <td><p>^</p></td>
    <td><p><key>*</key> dwa razy</p></td>
    </tr>
    <tr>
    <td><p>√</p></td>
    <td><p><keyseq><key>Ctrl</key><key>R</key></keyseq></p></td>
    </tr>
    <tr>
    <td><p>π</p></td>
    <td><p><keyseq><key>Ctrl</key><key>P</key></keyseq></p></td>
    </tr>
    </table>
    <p>Aby wprowadzić <link xref="superscript">liczby w indeksie górnym</link>, użyj <keyseq><key>Ctrl</key>liczba</keyseq>, a dla liczb w indeksie dolnym użyj <keyseq><key>Alt</key>liczba</keyseq>.</p>
</page>
