<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="boolean" xml:lang="hu">

    <info>
        <link type="guide" xref="index#equation"/>
    
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Kelemen Gábor</mal:name>
      <mal:email>kelemeng at gnome dot hu</mal:email>
      <mal:years>2010, 2011, 2012, 2013, 2017.</mal:years>
    </mal:credit>
  </info>

	<title>Logikai algebra</title>
    
    <p>Az AND, OR és XOR operátorok használatával logikai algebrai műveletek végezhetők.</p>
    <example>
    <p>010011₂ AND 110101₂</p>
    </example>
    <p>Ezen szimbólumok gombjai a <link xref="mouse">programozói módban</link> érhetők el.</p>
    <p>A NOT <link xref="function">függvény</link> invertálja egy szám bitjeit. A szóhossz a <guiseq><gui>Számológép</gui><gui>Beállítások</gui></guiseq> menüpont alatt állítható be.</p>
    <example>
    <p>NOT 010011₂</p>
    </example>
</page>
