<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="conv-currency" xml:lang="hu">

  <info>
    <link type="guide" xref="index#conversion"/>

    <credit type="author copyright">
      <name>Robert Ancell</name>
      <email its:translate="no">robert.ancell@gmail.com</email>
      <years>2010</years>
    </credit>
    <credit type="author copyright">
      <name>Robin Sonefors</name>
      <email its:translate="no">ozamosi@flukkost.nu</email>
      <years>2010</years>
    </credit>
    <credit type="copyright editor">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
      <years>2014</years>
    </credit>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Kelemen Gábor</mal:name>
      <mal:email>kelemeng at gnome dot hu</mal:email>
      <mal:years>2010, 2011, 2012, 2013, 2017.</mal:years>
    </mal:credit>
  </info>

  <title>Pénznem</title>

  <p>Pénznemek közti konverzióhoz lépjen be a <link xref="financial">pénzügyi módba</link>, és használja a pénznem vezérlőelemeket.</p>

  <steps>
    <item>
      <p>Adja meg a mennyiséget, amelyet át szeretne váltani.</p>
    </item>
    <item>
      <p>Válassza ki a lenti legördülő menüből azt a pénznemet, amelyről át szeretne váltani, valamint azt a pénznemet, amelyre váltani szeretne.</p>
    </item>
  </steps>

  <note>
    <p>Az árfolyam-információk hozzávetőlegesek, és nem használandók pénzügyi döntések meghozatalához.</p>
  </note>
</page>
