<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="complex" xml:lang="zh-CN">

    <info>
        <link type="guide" xref="index#number"/>
    </info>

	<title>复数</title>
    
    <p>
    <app>Calculator</app> supports complex numbers, as well as the following functions while in <link xref="mouse">Advanced mode</link>.
    </p>

    <table>
    
    <tr>
    <td><p>Re</p></td>
    <td><p>Returns the real part of a complex number. For example:</p>
    <example>
    <p>
    Re (2-5i) = 2
    </p>
    </example>
    </td>
    </tr>

    <tr>
    <td><p>Im</p></td>
    <td><p>Returns the imaginary part of a complex number. For example:</p>
    <example>
    <p>
    Im (2-5i) = -5
    </p>
    </example>
    </td>
    </tr>
 
    <tr>
    <td><p>conj</p></td>
    <td><p>Returns the conjugate of a complex number. For example:</p>
    <example>
    <p>
    conj (2-5i) = 2+5i
    </p>
    </example>
    </td>
    </tr>

    <tr>
    <td><p>Arg</p></td>
    <td><p>Returns the argument of a complex number. For example:</p>
    <example>
    <p>
    Arg (2-5i) = -68.1986
    </p>
    </example>
    </td>
    </tr> 

    </table>


</page>
