<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="equation" xml:lang="fi">

    <info>
        <!-- Place this at the start of the section -->
        <title type="sort">0</title>
        <link type="guide" xref="index#equation"/>
    
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jukka Heikkilä</mal:name>
      <mal:email>jutsco@gmail.com</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  </info>

	<title>Perusyhtälöt</title>
    
    <p>Lausekkeet syötetään standardissa matemaattisessa muodossa. Esimerkiksi luvun 7 ja 2 summa syötetään seuraavalla tavalla:</p>
    <example>
    <p>7+2</p>
    </example>
    <p>Ratkaistaksesi lausekkeen, napsauta <gui>=</gui>-painiketta hiirellä tai <key>Enter</key>-näppäintä näppäimistöstä.</p>
    <p>Laskennat suoritetaan matemaattisessa järjestyksessä - kerto- ja jakolaskut suoritetaan ennen summa- ja vähennyslaskuja. Seuraavan lausekkeen tulos on 1 (3×2 = 6, 7−6 = 1).</p>
    <example>
    <p>7−3×2</p>
    </example>
    <p>Laskujärjestystä voidaan muuttaa käyttämällä sulkuja. Seuraavan lausekkeen tulos on 8  (7−3 = 4, 4×2 = 8).</p>
    <example>
    <p>(7−3)×2</p>
    </example>
    <p>Näytön tyhjennys tapahtuu napsauttamalla <gui>Clr</gui>-painiketta tai <key>Escape</key>-näppäintä.</p>
</page>
