<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="financial" xml:lang="fi">

    <info>
        <link type="guide" xref="index#financial"/>
    
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jukka Heikkilä</mal:name>
      <mal:email>jutsco@gmail.com</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  </info>

	<title>Talousfunktiot</title>
    <p>Taloustilassa seuraavat painikkeet ovat käytettävissä.</p>
    <table>
    <tr>
    <td><p>Ctrm</p></td>
    <td><p>Calculate the number of compounding periods necessary to increase an investment of present value to a future value, at a fixed interest rate per compounding period.</p></td>
    </tr>
    <tr>
    <td><p>Ddb</p></td>
    <td><p>Calculate the depreciation allowance on an asset for a specified period of time, using the double-declining balance method.</p></td>
    </tr>
    <tr>
    <td><p>Fv</p></td>
    <td><p>Calculate the future value of an investment based on a series of equal payments at a periodic interest rate over the number of payment periods in the term.</p></td>
    </tr>
    <tr>
    <td><p>Gpm</p></td>
    <td><p>Laskee tuotteen uudelleenmyyntihinnan perustuen tuotantokuluihin ja haluttuun myyntikatemarginaaliin.</p></td>
    </tr>
    <tr>
    <td><p>Pmt</p></td>
    <td><p>Calculate the amount of the periodic payment of a loan, where payments are made at the end of each payment period.</p></td>
    </tr>
    <tr>
    <td><p>Pv</p></td>
    <td><p>Calculate the present value of an investment based on a series of equal payments discounted at a periodic interest rate over the number of payment periods in the term.</p></td>
    </tr>
    <tr>
    <td><p>Kurssi</p></td>
    <td><p>Calculate the periodic interest necessary to increase an investment to a future value, over the number of compounding periods.</p></td>
    </tr>
    <tr>
    <td><p>Sln</p></td>
    <td><p>Calculate the straight-line depreciation of an asset for one period. The straight-line method of depreciation divides the depreciable cost evenly over the useful life of an asset. The useful life is the number of periods, typically years, over which an asset is depreciated.</p></td>
    </tr>
    <tr>
    <td><p>Syd</p></td>
    <td><p>Calculate the depreciation allowance on an asset for a specified period of time, using the Sum-of-the-Years'-Digits method. This method of depreciation accelerates the rate of depreciation, so that more depreciation expense occurs in earlier periods than in later ones. The useful life is the number of periods, typically years, over which an asset is depreciated.</p></td>
    </tr>
    <tr>
    <td><p>Maksuaika</p></td>
    <td><p>Calculate the number of payment periods that are necessary during the term of an ordinary annuity, to accumulate a future value, at a periodic interest rate.</p></td>
    </tr>
    </table>
    <note>
    <p>Talousfunktioita ei voida syöttää käyttäen näppäimistöä.</p>
    </note>
</page>
